@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    padding: 0;
}

:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Blue: hsl(248, 32%, 49%);
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body {
    /* background-image: url(../src/assets/bg-intro-desktop.png); */
    background: url(../src/assets/bg-intro-desktop.png), var(--Red);
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width:600px) {
    body {
        /* background-color: black; */
    }
    .container {
        margin: 30px;
        padding: 10px;
    }
    .form__container {
        display: block;
    }
    .form__container .info {
        width: 100%;
        margin-top: 20px;
    }
    .signup__container {
        width: 100%;
    }
    .info p {
        text-align: center;
        line-height: 1.6;
        font-size: 22px;
        margin-top: 12px;
    }
    .signup__container button {
        font-size: 22px;
        padding: 20px;
        margin-top: 50px;
        width: 100%;
    }
    .forms {
        width: 100%;
        margin-top: 25px;
    }
    .forms button {
        margin-top: 12px;
    }
}

